/* ОГРАНИЧИВАНИЕ ШИРИНЫ БЛОКА И РАСПОЛОЖЕНИЕ СЕКЦИЙ ПО ЦЕНТРУ */
.section-width {
	max-width: 1440px;
	margin: 0 auto;
}
/* СТИЛЬ ШАПКИ HEADER*/
.header {
	padding: 90px 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
}

.header__navigation {
	justify-self: start;
	margin: 1% 0 0 13.5% ;
}

.header__navbar {
	display: flex;
	white-space: nowrap;
	gap: 32px;
	min-width: 38px;
}

.header__navbar-inside {
	font-size: 18px;
	font-weight: 400;
	list-style: circle;
}

.header__navbar-inner__without-marker {
	list-style: none;
}

.header__link {
	text-decoration: none;
	text-transform: lowercase;
	border-bottom: 1px solid black;
	padding-bottom: 1%;
}

.address__link {
	border-bottom: 1px solid black;
	text-decoration: none;
}

.line__one {
	width: 56%;
}

.line__two {
	width: 55%;
}

.header__link:hover {
	border-bottom: 0;
	color: #124358a8;
}

.header__link_active {
	border-bottom: none;
}

.header__logo {
	display: block;
	justify-self: center;
	width: 137px;
	margin: 1% 7.1% 0 0;
}

.address {
	max-width: 240px;
	margin: 0 13.5% 0 0;
	font-size: 18px;
	font-style: normal;
	line-height: 1.35;
}

.header__address {
	margin-top: 2%;
	display: flex;
	flex-direction: column;
	justify-self: end;
}
/* СТИЛЬ ОБЛОЖКИ COVER*/
.cover::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

*,*::before,*::after {
	outline: 1px solid red
}

.cover {
	position: relative;
	width: 100%;
	padding-bottom: 4.5%;
	background-image: url("../images/cover.jpg");
	background-size: cover;
	background-position: 49% 75%;
}

.cover__title {
	padding-top: 170px;
	color: aliceblue;
	font-size: 100px;
	font-style: normal;
	font-weight: 700;
	line-height: 115%;
	letter-spacing: 30px;
	text-transform: uppercase;
	position: relative;
}

.letter-spacing-extended {
	letter-spacing: 0.6em;
}

.cover-section {
	display: block;
	margin-bottom: 9px;
}

.cover-section:first-child {
	margin-left: 4.6%;
}

.cover-section:nth-child(3) {
	margin-right: 4.55%;
}

.aligned-text_center {
	text-align: center;
}

.aligned-text_right {
	text-align: right;
	margin-bottom: 0;
}

.letter-small-spacing-extended {
	letter-spacing: 30px;
}

.no-letter-spacing {
	letter-spacing: 0;
}

.cover-caption {
	margin-top: 11.1%;
	position: relative;
	display: flex;
	margin-left: 82px;
	align-items: center;
}

.cover-caption-text {
	font-size: 22px;
	word-spacing: 18px;
	color: #FFFFFF;
	text-transform: uppercase;
}

.cover__button {
	margin: 0.1% 0 0.5% 7.8%;
	border: 1px solid #FFFFFF;
	padding: 11px 32px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 22px;
	text-transform: uppercase;
}
/* СТИЛЬ ДЛЯ ЛОТОВ*/
.lots {
	max-width: 1052px;
	margin: 16.5% 0 0 2.3%;
}

.lots__title {
	padding: 0 0 27px 40px;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
}

.lots__list {
	display: flex;
	flex-wrap: 3;
	gap: 26px;
	justify-content: space-between;
	align-content: center;
	list-style: none;
}

.lots-cards-list-item {
	flex-grow: 1;
	width: 335px;
	min-height: 563px;
}

.lots__look-more-link {
	margin-top: 27px;
	margin-left: 40px;
	width: fit-content;
	display: block;
	font-size: 20px;
	color: #000000;
	border-bottom: 1px solid;
	padding-bottom: 0.2%;
}

.card::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1;
}

.card {
	position: relative;
	padding: 50px 40px;
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.card__title, .card__description {
	z-index: 1;
	position: relative;
	color: #FFFFFF;
}

.card__title {
	font-weight: 700;
	font-size: 22px;
	line-height: 117%;
	text-decoration-line: underline;
	text-transform: uppercase;
}

.card__description {
	font-size: 20px;
	line-height: 119.6%;
}

.card-of-the-film {
	background-image: url(../images/card-lot-01.jpg);
}

.card-of-the-book {
	background-image: url(../images/card-lot-02.jpg);
}

.card-of-the-picture {
	background-image: url(../images/card-lot-03.jpg);
}
/* СТИЛЬ СЕКЦИИ "ОБ АУКЦИОНЕ"*/
.about {
	margin: 16.6% 0 0 6.6%;
	display: flex;
}

.about_logotype {
	background-color: #000000;
	width: 240px;
	height: 240px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
}

.about__logotype_img {
	align-self: center;
	width: 62%;
}

.about__auction {
	margin: 9% 0 0 6.9%;
	width: 693px;
	font-size: 20px;
}

.about__title {
	margin: 6px 0 106px 0;
	text-transform: uppercase;
	font-size: 40px;
}

.about__description {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.about__text-one {
	margin-top: 5%;
}

.link-line {
	text-decoration: none;
	border-bottom: 1px solid;
	padding-bottom: 0.2%;
}
/* СТИЛЬ ФУТЕРА*/
.footer {
  margin: 16.5% 3.9% 0 5%;
  display: grid; 
  justify-items: center; /* центрируем по горизонтали */
  grid-template-columns: 1fr 2fr 1fr; /* три равные колонки */
}

.footer__address {
	margin-left: 7%;
	width: 100%;
}

.footer__social__webs-list {
  list-style: none;
  display: flex;
  gap: 47px;
}

.footer__centerbar {
	margin-left: -9%;
	list-style: none;
  text-transform: lowercase;
  font-size: 18px;
  text-align: center;
}

.footer__social__webs-img {
  justify-self: end;
  width: 48px;
  height: 48px;
  object-fit: cover;
}

